@import "tailwindcss";

#root {
      font-family: "inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
}

#navBar{
      margin: 0;
}

/* #searchIcon{
      margin: 0;
} */