@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
    @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  /* Custom Styling */
.input-field {
  @apply w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.file-input-group {
  @apply flex flex-col mt-4;
}

.file-input-group label {
  @apply font-semibold mb-1;
}

.file-input {
  @apply block w-full text-sm text-gray-700 border border-gray-300 rounded-md cursor-pointer focus:outline-none file:bg-blue-500 file:text-white file:border-none file:px-4 file:py-2;
}

.submit-button {
  @apply w-full mt-4 bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-300;
}
  